Checks: >
  -*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  bugprone-*,
  readability-*,
  misc-*,
  clang-analyzer-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -modernize-use-trailing-return-type

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: none
